header, section, footer, aside, nav, main, article, figure {
  display: block;
}

body {
  font-family: Sans-Serif;
  background-image: url("../images/background.png");
  background-color: #780000;
  width: 1920px;
}

table, tr, th {
  font-weight: normal;
}

.footer {
  text-align: right;
}

.fake-button {
  /*font: bold 11px Arial;
  text-decoration: none;*/
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
